<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1" />
        <title>Pagina Principal</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    </head>
    
    <body>
    	<img th:src="@{/images/logo.png}" width="136" height="136"/>
        <h1>Lista de vacantes</h1>
        
        <table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Logo</th>
		      <th scope="col">#</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Fecha Publicacion</th>
		      <th scope="col">Salario ofrecido</th>
		      <th scope="col">Descripcion</th>
		      <th scope="col">Destacada</th>	
		      <th scope="col">Detalle</th>	
		      <th scope="col">Borrar</th>      
		    </tr>
		  </thead>
		  <tbody>
		  
		    <tr th:each="vacante : ${vacantes} ">
		    	<td>
		    		<img th:src="@{/images/{img} ( img=${vacante.imagen} ) }" width="136" height="136" />
		    	</td>
	    		<td th:text="${vacante.id}"></td>
		      	<td th:text="${vacante.nombre}"></td>
		      	<td th:text="${vacante.fecha}"></td>
		      	<td th:text="${vacante.salario}"></td>
		      	<td th:text="${vacante.descripcion}"></td>
		      	<!--<td th:text="${vacante.destacado == 1 ? 'Si' : 'No'}"-->
		      	<td>
		      		<span th:if="${vacante.destacado==1}" class="badge badge-primary">Si</span>
		      		<span th:unless="${vacante.destacado==1}" class="badge badge-danger">No</span>
		      	</td>
		      	<td>
		      		<a th:href="@{/vacantes/view/{id} (id=${vacante.id}) }" class="btn btn-success">Ver detalle </a>
		      	</td>
		      	<td>
	      			<a th:href="@{/vacantes/delete/(id=${vacante.id}) }" class="btn btn-danger">Borrar </a>
		      	</td>
		    </tr>	
		    	    
		  </tbody>
		</table>
    </body>
</html>